<!DOCTYPE html>
<html>

<head>
  <title>Donaciones</title>
</head>

<body>
  <div class="header">
    <span>Donaciones</span>
  </div>

  <div class="container">
    <div class="sidenav">
      <ul class="vertical-nav-list">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Donantes">Donantes</a></li>
        <li><a href="/Receptores">Receptores</a></li>
        <li><a href="/Donaciones">Proyectos</a></li>
        <li><a href="/Proyectos">Donaciones</a></li>
        <li><a href="/Comentarios">Comentarios</a></li>
        <li><a href="/Mensajes">Voluntarios</a></li>
        <li><a href="/Testimonios">Eventos</a></li>
      </ul>
    </div>

    <div class="content">
      <!-- Contenido de la página -->
      <router-outlet></router-outlet>
    </div>
  </div>
</body>

</html>
