<div class="donation-container">
  <h2 class="donation-title">Donantes</h2>
  <form (ngSubmit)="registrarDonante()" class="form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="nuevoDonante.nombre"
        required
      />
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        [(ngModel)]="nuevoDonante.direccion"
        required
      />
    </div>
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input
        type="email"
        id="correo"
        name="correo"
        [(ngModel)]="nuevoDonante.correoElectronico"
        required
      />
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        [(ngModel)]="nuevoDonante.telefono"
        required
      />
    </div>
    <div class="form-group">
      <label for="pais">País:</label>
      <select id="pais" name="pais" [(ngModel)]="nuevoDonante.idPais" required>
        <option *ngFor="let pais of paises" [value]="pais.idPais">
          {{ pais.nombre }}
        </option>
      </select>
    </div>
    <button type="submit" class="donation-button">Registrar Donante</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>

   <!-- Agregar el campo de búsqueda -->
   <div class="search-container">
    <label for="busqueda" class="search-label">Buscar:</label>
    <input
      type="text"
      id="busqueda"
      name="busqueda"
      [(ngModel)]="busqueda"
      (input)="filtrarDonantes()"
      class="search-input"
    />
  </div>

  <!-- Mostrar la lista de donantes -->
  <h3 class="donation-list-title">Lista de Donantes</h3>
  <table class="donation-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Correo Electrónico</th>
        <th>Teléfono</th>
        <th>País</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!busqueda; else donantesFiltradosBlock">
        <tr *ngFor="let donante of donantes" class="donation-item">
          <td>{{ donante.nombre }}</td>
          <td>{{ donante.direccion }}</td>
          <td>{{ donante.correoElectronico }}</td>
          <td>{{ donante.telefono }}</td>
          <td>{{ obtenerNombrePais(donante.idPais) }}</td>
          <td>
            <button
              (click)="eliminarDonante(donante.idDonante)"
              class="delete-button"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #donantesFiltradosBlock>
        <tr *ngFor="let donante of donantesFiltrados" class="donation-item">
          <td>{{ donante.nombre }}</td>
          <td>{{ donante.direccion }}</td>
          <td>{{ donante.correoElectronico }}</td>
          <td>{{ donante.telefono }}</td>
          <td>{{ obtenerNombrePais(donante.idPais) }}</td>
          <td>
            <button
              (click)="eliminarDonante(donante.idDonante)"
              class="delete-button"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>